body{
    background-color: antiquewhite;
}
main{
    display:flex;
    align-items: center;
}
.content{
    flex:1; /*pozwól wyświetlić się elementowi na pełną szerokość*/
    display:flex;
    justify-content: center; /* wycentruj zdjęcie horyzontalnie*/
}

.leftArr,
.rightArr{
    padding: 1rem;
    cursor: pointer;
    border-radius: 50%;
    background-color: aliceblue;
}
footer{
    /* display:flex;
    justify-content: end; */
    text-align: right;
    margin-top: 4rem;
}